@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@600&display=swap');

:root{
  --first-color : skyblue;
  --second-color: yellow;
  --black-color: black;
  --font : 'Chakra Petch', sans-serif;  
}

html{
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}
*,
*::after,
*::before{
  box-sizing: inherit;
}
body{
  margin: 0;
  overflow-x:hidden;
  color:var(--black-color);
  background-color: var(--first-color);
  font-family: var(--font);
}

h1{
  margin: 0;
  font-size: 2rem;
}
h2{
  margin: 0;
  font-size: 1.5rem;
}
h3{
  margin: 0;
  font-size: 1.25rem;
}
h4{
  margin: 0;
  font-size: 1rem;
}
h5{
  margin: 0;
  font-size: 0.85rem;
}
h6{
  margin: 0;
  font-size: 0.7rem;
}
img{
  max-width: 100%;
  height: auto;
}
p{
  line-height: 1.6;
}
.container{
  margin-top: 3.5rem;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr)); 
}